<div class="container">
  <div class="row d-flex align-items-center">
    <h4 class="col-md-12 text-center">言葉一覧</h4>
  </div>
  
  <%= render 'members/words/rank', all_ranks:@all_ranks %>

  <div class="row">
    <table class="table table-bordered">
      <tbody class="col-md-10">
        <% @words.each do |word| %>
        <tr>
          <td>
            <% word.genres.each do |genre| %>
            <%= genre.name %>
            <% end %>
          </td>
          <td>
            <%= link_to word_path(word.id) do %>
            <%= word.sentence %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
