// Place all the styles related to the members::likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my_red{color:#FF82B2;}
.my-gray{color:#808080;}


.no-underline{text-decoration:none !important;}