// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-orange {color: #FF9900}
.my-green {color: #00CC99}
.my-pink {color: #FF82B2}
.my-black {color: #110000}
.my-blue {color: #1E90FF}

// showページ
.profile-container{
  width: 40%;
  background-color: #fff;
  border: dashed 2px #FFD700;
  padding: 0.2em 0.5em;
  box-shadow: 0 0 0 5px #fff;
  margin-top: 2%;
  margin-bottom: 5%;
  padding-top: 3%;

}
.profile_image{

}