// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// showページ
.member-info{
  width: 80%;
  height: 220px;
  background-color: #fff;
  border: dashed 2px #FFB6C1;
  padding: 0.2em 0.5em;
  box-shadow: 0px 0px 0px 5px #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &-img{
    width: 150px;
    height: 220px;
    text-align: center;
    padding-top: 40px;
    color: black;
  }
  &-introduction{
    width: 400px;
    height: 220px;
  }
  &-genre{
    text-align: left;
    height: 40px;
    padding-bottom: 0;
    border-bottom: dashed 2px #DDA0DD;
  }
  &-sentence{
    text-align: left;
    padding: 0;
    margin-bottom: 10px;
  }
  &-word{
    padding-top: 50px;
    text-align: right;
    height: 90px;
    vertical-align: bottom;
    color: black;
  }

}

.ranks{
  width: 100%;
  margin: 20px auto;
  background-color: #fff;
  list-style: none;
  border-style: dashed;
  border-color: #CCC;

  &-list{
  border-bottom-style: dashed;
  height: 35px;
 }
 &-number{
   width: 100px;
   border-right-style: dashed;
   border-color: #CCC;
   text-align: center;
 }
 &-genre{
   width: 140px;
   padding-left: 10px;
   border-right-style: dashed;
   border-color: #CCC;
 }
 &-word{
   width: 750px;
   padding-left: 10px;
   border-right-style: dashed;
   border-color: #CCC;
 }
 &-like{
   width: 147px;
   padding-left: 10px;
 }
}


.genre{
  width: 140px;
}

.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-textarea{
    width: 400px;
    margin: 0 auto;
  }
 }