// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// showページ
.member-info{
  width: 80%;
  height: 220px;
  background-color: #fff;
  border: dashed 2px #FFB6C1;
  padding: 0.2em 0.5em;
  box-shadow: 0px 0px 0px 5px #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &-img{
    width: 30%;
    height: 220px;
    text-align: center;
    padding-top: 40px;
    color: black;
  }
  &-introduction{
    width: 70%;
    height: 220px;
  }
  &-genre{
    border-bottom: dashed 2px #DDA0DD;
  }
  &-sentence{
    width: 100%;
    height: 50%;
  }
  &-word{
    width: 100%;
    text-align: right;
    padding-right: 2%;
    color: black;
    margin-bottom: 0;
  }
  &-day{
    color: solid 2%;
  }
}

// indexページのランキングテーブル
.ranks{
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  list-style: none;
  border: dashed 2px #C299FF;
  padding: 0.2em 0.5em;
  box-shadow: 0 0 0 5px #fff;
  &-list{
  border-bottom-style: dashed;
  height: 35px;
 }
 &-number{
   width: 7%;
   text-align: center;
   border: dashed 2px #C299FF;
   padding: 0.2em 0.5em;
   box-shadow: 0 0 0 5px #fff;
 }
 &-genre{
   width: 13%;
   padding-left: 10px;
   border: dashed 2px #C299FF;
   padding: 0.2em 0.5em;
   box-shadow: 0 0 0 5px #fff;
 }
 &-word{
   width: 53%;
   padding-left: 10px;
   border: dashed 2px #C299FF;
   padding: 0.2em 0.5em;
   box-shadow: 0 0 0 5px #fff;
 }
 &-like{
   width: 7%;
   padding-left: 10px;
 }
}

// indexページ一覧テーブル
.td-genre{
  width: 15%;
}


.form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-textarea{
    width: 400px;
    margin: 0 auto;
  }
 }

 .sentence, .ranks-word {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

// newページ

 .new-form{
   width: 50%;
   margin: 0 auto;
 }

 .word{
   width: 100%;
   margin: 0 auto;
   text-align: center;
 }

 .genre{
   width: 100%;
   margin: 0 auto;
   text-align: center;
 }