<div class="container">
  <div class="row">
    <h5 class="mx-auto text-center" style="width: 450px;">ジャンル名編集</h5>
  </div>

  <div class="mx-auto" style="width: 450px;">
    <%= form_with model:@genre, local:true do |f| %>
    <div class="form-group">
      <%= f.label :name, "ジャンル名" %>
      <%= f.text_field :name %>
      <%= f.submit "変更", class:"btn btn-sm btn-primary" %>
    </div>
    <% end %>
  </div>
</div>