<div class="main-visual">
  <div class="main-visual-content">
    <div class="main-visual-text">
      <div class="main-visual-text-1">ここはあなたの<strong>ココロ</strong>のお部屋。</div>
      <div class="main-visual-text-2">今、一番必要な<strong>言葉</strong>を見つけよう。</div>
      <div class="main-visual-text-3">あなたの言葉を<strong>メンバー</strong>に届けよう。</div>
    </div>
    <div class="main-visual-btn">
      <div class="new-btn"><%= link_to "新規登録", "/members/sign_up", :style=>"color:black;" %></div>
      <div class="login-btn"><%= link_to "ログイン", "/members/sign_in", :style=>"color:black;" %></div>
      
    </div>
  </div>
</div>