<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-warning">
    <h6><%= pluralize(object.errors.count, "error") %> 保存を禁止しました:</h6>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>